<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <div>
        <h1>Students:</h1>
        {% for student in students %}
            <h3><a href="{{ url_for('show_student', student_id=student.Student.id) }}">
                {{ student.Student }}
            </a></h3>
        {% endfor %}

        <br><br>

            <h3>Choose what you want from list:</h3>
        <ul>
            <li>
                <h4><a href="{{ url_for('index') }}">
                    Go to main page</a>
                </h4>
            </li>

            <li>
                <h4><a href="{{ url_for('show_groups') }}">
                    Go to groups</a>
                </h4>
            </li>

            <li>
                <h4><a href="{{ url_for('show_courses') }}">
                    Go to courses</a>
                </h4>

            </li>
        </ul>
    </div>
</body>
</html>